.album{
  .homeLink{
    color: #FFF;
    display: block;
    margin-bottom: 10px;
    font-size: 40px;
  }
  img{
    width: 100%;
  }
  .spinning{
    position: absolute;
    width: 37px;
    left: 100%;
    margin-left: -48px;
    top: 10px;
  }
  h1{
    font-weight: 800;
    margin: 0px;
    font-size: 22px;
  }
  h3{
    margin-top: 0px;
  }
  table{
    width: 100%;
    border-spacing: 0px;
    td{
      padding: 5px;
      border-bottom: 1px solid #ccc;
    }
  }
}