.listen{
  .main-button{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: #614385;
    background: -webkit-linear-gradient(to right, #516395, #614385);
    /* background: linear-gradient(to right, #516395, #614385); */
    color: #000;
    font-size: 62px;
    /* text-transform: uppercase; */
    background-color: #FFF;
  }
}